git+https://github.com/rapptz/discord.py@rewrite
aiohttp
astroid
async-timeout
attrs
chardet
colorama
idna
isort
lazy-object-proxy
mccabe
multidict
pylint
simplejson
six
urllib3
websockets
wrapt
yarl
googletrans
psutil
